// COULEUR
$color-main: #1c202b;
// $color-main-light: #98b552;
// $color-main-lighter: #c4d544;

$color-second: #f85552;

// $color-grey-dark: #b2b9c1;
// $color-grey: #f0f1f3;

$color-white: #fff;

$color-black: #2c2c2c;
