@import "../../../assets/styles/setup.scss";

.site-navigation {
  $_parent: &;

  background-color: $color-secondary;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  font-size: 1.2rem;
  will-change: auto;
  transform-origin: 0;
  transform: skewY(-12deg);
  height: 0;
  z-index: 1;
  opacity: 0;
  transition: transform 350ms ease-in-out, height 350ms ease-in-out, opacity 0ms 350ms;

  &--is-open {
    height: 100vh;
    transform: skewY(0);
    opacity: 1;
    transition: transform 350ms ease-in-out, height 350ms ease-in-out, opacity 0ms;

    #{$_parent}__container {
      transform: skewY(0);
    }
  }

  &--is-desktop {
    background-color: inherit;
    position: inherit;
    font-size: inherit;
    transform: inherit;
    height: inherit;
    overflow: inherit;
    width: auto;
    flex: 2 2;
    transition: opacity 400ms;
    opacity: 1;

    #{$_parent}__container {
      transform: inherit;
      position: inherit;
      margin: 0;
      padding: 0;
      height: inherit;
      width: inherit;
      transition: inherit;


      flex-flow: row;

      align-items: center;
      justify-content: space-between;
    }

    #{$_parent}__title {
      display: none;
    }

    #{$_parent}__list {
      display: flex;
      justify-content: center;
      flex: 2 2;
    }

    #{$_parent}__link {
      color: $color-secondary;
      padding: 0 .5em;

      &:after {
        background-color: $color-secondary;
        padding: 0;
        width: 90%;
      }
    }
  }

  &__container {
    @include wrapper-with-margin-calc;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 80vh;
    align-items: flex-start;
    position: absolute;
    top: 0;
    transition: all 350ms ease-in-out;
    transform: skewY(12deg);
  }

  &__title {
    @extend %logo;

    color: $color-primary;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    color: $color-primary;
    text-decoration: none;
    font-family: $font-family-header;
    text-transform: lowercase;
    line-height: 1em;
    position: relative;
    padding: .5em 0;
    display: inline-block;

    &:after {
      display: block;
      width: 100%;
      padding: 0 .25em;
      background-color: $color-primary;
      height: 2px;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) scaleX(0);
      transition: transform 100ms ease-in-out;
    }

    &:hover:after,
    &--is-active:after {
      transform: translateX(-50%) translateY(-50%) scaleX(1);
      transition: transform 150ms cubic-bezier(1, 1, .75, 1.5);
    }
  }
}
