// z-index : 0 to 99
@import "../setup";

.background {
  background-color: $color-main;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.particle {
  position: absolute;
  border-radius: 50%;
}
