// z-index : 100 to 299

@import "../setup";

.site-header {
  @include padding-side;
  @include padding-height;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  box-sizing: border-box;
  top: 0;

  &__site-title-link {
    @include cursor(true);
    color: $color-second;
    text-decoration: none;
    font-family: $font-family-secondary;
    font-size: (41 / $font-size-small) * 1rem;
    border: 0;
    font-weight: 700;
  }

  &__mobile-nav-btn {
    border: 0;
    background: 0;
    position: relative;

    @media(min-width: $breakpoint-header * 1px) {
      display: none;
    }

    &--is-on-top {
      z-index: 1100;
    }
  }
}
