@import "../../assets/styles/setup.scss";

.site-header {
  position: absolute;
  top: 0;

  &__wrapper {
    @include wrapper-with-margin-calc;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
