html,
body {
  $_font-breakpoint: 1024;
  font-family: $font-family;
  font-size: #{$font-size-small * 1px};
  line-height: 1.5em;
  color: $color-primary;

  @media(min-width: #{$_font-breakpoint * 1px}) {
    font-size: #{($font-size-small / $_font-breakpoint) * 100vw};
  }

  @media(min-width: #{$font-size-large * $_font-breakpoint / $font-size-small * 1px}) {
    font-size: #{$font-size-large * 1px};
  }
}

a {
  color: $color-secondary;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}
