// SIZES

// RATIOS
$size-ratio-guttier: .016;
$size-ratio-padding: ($size-ratio-guttier / 2);
$size-ratio-total-width: .9;
$size-ratio-margin: (1 - $size-ratio-total-width) / 2;

// DEVICES
$size-mobile-small: 320;
$size-mobile-medium: 375;
$size-mobile-large: 425;
$size-tablet: 768;
$size-laptop-small: 1024;
$size-laptop-medium: 1280;
$size-laptop-large: 1440;
