@mixin cursor ($click: false) {

  &::after {
    content: "_";
    font-family: $font-family;

    @if $click == true {
      animation: clic 800ms linear infinite;
    }

    @keyframes clic {

      1% {
        opacity: 1;
      }

      49% {
        opacity: 1;
      }

      50% {
        opacity: 0;
      }

      99% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}
