@mixin wrapper() {
  margin: auto;
  max-width: 1296px;
  width: 90vw;
  padding-left: my-padding-calculation();
  padding-right: my-padding-calculation();

  @media(min-width: 1440px) {
    width: #{(1296 - (my-padding-calculation(1440) * 2)) * 1px};
    padding-left: my-padding-calculation(1440);
    padding-right: my-padding-calculation(1440);
  }
}
