@mixin wrapper() {
  $_max-width: #{(1296 - (my-padding-calculation(1440px) * 2))};

  margin: auto;
  max-width: $_max-width;
  width: 90vw;
  padding-left: my-padding-calculation();
  padding-right: my-padding-calculation();

  @media(min-width: 1440px) {
    padding-left: my-padding-calculation(1440px);
    padding-right: my-padding-calculation(1440px);
  }
}
