@import "../../assets/styles/setup.scss";

.cursor {
  font-family: $font-family;

  @keyframes clic {

    1% {
      opacity: 1;
    }

    49% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    99% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  &::after {
    content: "_";
    font-family: $font-family;

  }

  &--is-flashing::after {
    animation: clic 800ms linear infinite;
  }
}
