<%= stylesheet_link_tag "components/site-footer" %>
<footer class="site-footer">
  <a href="/viens-me-dire-un-mot.html" class="site-footer__email-link">hello[at]marcantoineruel.com</a>
  <!-- <div class="site-footer__language-switcher">
    <a href="#"><abbr title="Ouvrir ce site en version Française">Fr</abbr></a>
    <span aria-hidden="true"> \\ </span>
    <a href="#"><abbr title="Switch for the anglais version">En</abbr></a>
  </div> -->
  <!-- TODO: Revoir la formulation des language switcher -->
</footer>
