<%= stylesheet_link_tag "components/contact" %>
<div class="site-main__header">
  <div class="site-main__header-container">
    <h1>on jase là</h1>
  </div>
</div>
<div class="site-main__content">
  <div class="site-main__skew"></div>
  <div class="site-main__container contact">

    <div class="contact__left-side">
      <section class="contact__mail-section contact__section">
        <h2>T’es qui toi?</h2>
        <p>J’ai ben hâte de découvrir ton projet web.</p>
        <p>Tu peux me contacter de la façon que tu veux. Que ce soit par courriel, the old fashion way, ou remplis le formulaire en ligne (c’est moi qui le reçoit pareil). Tu peux aussi m'écrire sur Facebook.</p>
        <p class="contact__methods-list">
          <a href="#">hello[at]marcantoineruel.com</a>
          <a href="">formulaire</a>
          <a href="">messenger</a>
        </p>
      </section>

      <section class="contact__bot-section contact__section">
        <h2>Tu veux des réponses instantanées? J'ai un assistant en formation</h2>
        <p>Poses tes questions à Alfred Pennyworth, mon BOTler, il saura te guider du mieux qu'il peut. Il est quand même en formation.</p>
        <p>
          <a href="#">Alfred &#129302;</a>
        </p>
      </section>
    </div>

    <div class="contact__right-side">
      <section class="contact__social-section contact__section">
        <h2>vous m’avez surement déjà vu sur…</h2>
        <ul>
          <!-- <li><a href="https://www.facebook.com/maru3l" target="_blank">facebook</a></li> -->
          <li><a href="https://www.linkedin.com/in/maru3l/" target="_blank">linkedidn</a></li>
          <li><a href="http://codepen.io/maru3l/" target="_blank">codePen</a></li>
          <li><a href="https://github.com/maru3l" target="_blank">Github</a></li>
          <li><a href="https://www.instagram.com/maru3l/" target="_blank">instagram</a></li>
          <!-- <li><a href="https://medium.com/@maru3l" target="_blank">medium</a></li> -->
        </ul>
      </section>
    </div>


  </div>
</div>
