<div class="site-main__header">
  <div class="site-main__header-container">
    <h1>on jase là</h1>
  </div>
</div>
<div class="site-main__content">
  <div class="site-main__skew"></div>
  <div class="site-main__container">

    <section class="contact__mail-section">
      <h2>T’es qui toi?</h2>
      <p>J’ai ben hâte de découvrir ton projet web.</p>
      <p>Comme tu préfères, contacte-moi par courriel the old fashion way ou remplis le formulaire en ligne (c’est moi qui le reçoit pareil)</p>
      <p>
        <a href="#">hello@marcantoineruel.com</a>
      </p>
    </section>

    <section class="contact__bot-section">
      <h2>Tu veux des réponses instantanées? J'ai un assistant en formation</h2>
      <p>Poses tes questions à Alfred Pennyworth, mon BOTler, il saura te guider du mieux qu'il peut. Il est quand même en formation.</p>
      <p>
        <a href="#">hello@marcantoineruel.com</a>
      </p>
    </section>

    <section class="contact__social-section">
      <h2>vous m’avez surement déjà vu sur…</h2>
      <ul>
        <!-- <li><a href="https://www.facebook.com/maru3l" target="_blank">facebook</a></li> -->
        <li><a href="https://www.linkedin.com/in/maru3l/" target="_blank">linkedidn</a></li>
        <li><a href="http://codepen.io/maru3l/" target="_blank">codePen</a></li>
        <li><a href="https://github.com/maru3l" target="_blank">Github</a></li>
        <li><a href="https://www.instagram.com/maru3l/" target="_blank">instagram</a></li>
        <!-- <li><a href="https://medium.com/@maru3l" target="_blank">medium</a></li> -->
      </ul>
    </section>

  </div>
</div>
