---
title: Marc-Antoine Ruel - Développeur web Full Stack
description: Marc-Antoine Ruel est un développeur web full stack indépendant qui fait des sites web et des applications. Interface, logique d’entreprise, serveurs, wordpress, café, il gère tout ça.
---

<%= stylesheet_link_tag "components/site-home" %>
<div class="site-home__container">
  <p>
    <span class="site-home__greeting">Salut, </span>
    <span class="site-home__line">je m'appelle Marc-Antoine Ruel, </span>
    <span class="site-home__line">je suis un <%= link_to("développeur web full stack","https://fr.wikipedia.org/wiki/Développeur_full_stack") %>. </span>
    <span class="site-home__typing">En gros, je programme des sites web.</span>
  </p>
</div>
<%= javascript_include_tag "components/siteHomeTyping" %>
