<div class="site-main__header">
  <div class="site-main__header-container">
    <h1>les vraies affaires</h1>
  </div>
</div>
<div class="site-main__content">
  <div class="site-main__skew"></div>
  <div class="site-main__container">
    <section>
      <div>
        <h2>Qu'est-ce qeu j'ai réalisé</h2>
      </div>
      <%= stylesheet_link_tag "components/project" %>
      <article class="project">
        <div class="project__images">
          <img src="<%= image_path('projet_groupex@3x.jpg') %>" alt="">
        </div>
        <div class="project__description">
          <p>
            <span class="project__title">client&thinsp;:</span>
            Groupex
          </p>
          <p>
            <span class="project__title">mandat&thinsp;:</span>
            Refonte du site web en utilisant wordpress comme gestionnaire de contenu pour permettre l’édition du site web facilement.
          </p>
          <p>
            <span class="project__title">tâche&thinsp;:</span>
            développement du thème et des plugins necessaires
          </p>
          <p>
            <span class="project__title">fonctionnalités&thinsp;:</span>
            <ul>
              <li><a href="">Responsive</a></li>
              <li><a href="">Multilingue</a></li>
            </ul>
          </p>
          <p>
            <span class="project__title">stack&thinsp;:</span>
            <ul>
              <li><a href="">Wordpress</a></li>
              <li><a href="">_underscores</a></li>
            </ul>
          </p>
          <p>
            <span class="project__title">date de publication&thinsp;:</span>
            janvier 2017
          </p>
          <p>
            <span class="project__title">collaborateur&thinsp;:</span>
            Audrey Vigneault - design
          </p>
          <p>
            <span class="project__title">liens&thinsp;:</span>
            <a href="http://www.groupex.coop">http://www.groupex.coop</a>
          </p>
        </div>
      </article>
      <article class="project">
        <div class="project__images">

        </div>
        <div class="project__description">
          <p>
            <span class="project__title">client&thinsp;:</span>
            LMG Communcation
          </p>
          <p>
            <span class="project__title">mandat&thinsp;:</span>
            Intégration et développement du site web de l'agence LMG Communication pour présenter l'agence, leur service et leur portfolio de réalisations.
          </p>
          <p>
            <span class="project__title">tâche&thinsp;:</span>
            Intégration et dévelopement
          </p>
          <p>
            <span class="project__title">défi&thinsp;:</span>
            Le site web doit être très illustré sans perdre de vitesse.
          </p>
          <p>
            <span class="project__title">fonctionnalités&thinsp;:</span>
            <ul>
              <li><a href="">Responsive</a></li>
              <li><a href="">Multilingue</a></li>
            </ul>
          </p>
          <p>
            <span class="project__title">stack&thinsp;:</span>
            <ul>
              <li><a href="">HTML</a></li>
              <li><a href="">Middleman</a></li>
            </ul>
          </p>
          <p>
            <span class="project__title">date de publication&thinsp;:</span>
            janvier 2017
          </p>
          <p>
            <span class="project__title">collaborateur&thinsp;:</span>
            LMG communication - conception visuel et stratégie web
          </p>
          <p>
            <span class="project__title">liens&thinsp;:</span>
            <a href="http://lmgcom.com">http://lmgcom.com</a>
          </p>
        </div>
      </article>
    </section>
    <section>
      <h2>on jase de moi</h2>
      <article class="">
        <p>
          <a href="http://www.journaldequebec.com/2017/07/07/voici-un-bon-truc-afin-de-ne-manquer-aucun-pop-up-feq">Voici un bon truc afin de ne manquer aucun Pop-Up FEQ</a>
        </p>
        <p>
          <span class="project__title">date de publication&thinsp;:</span>
          juillet 2017
        </p>
        <p>
          <span class="project__title">source&thinsp;:</span>
          journal de Québec
        </p>
        <p>
          <span class="project__title">résumé&thinsp;:</span>
          Article dans le journal de Québec qui explique une Applet que j'ai fais avec IFTTT dans le cadre du festival d'été de Québec pour recevoir des notifications sur son cellulaire lorsque le festival Twettait avec le hashtag #popupfeq.
        </p>
      </article>
    </section>
    <section>
      <p><a href="#">Vien me jasé &#128172;</a></p>
    </section>
  </div>
</div>
