<%= stylesheet_link_tag "components/contact-form" %>
<form class="contact-form">
  <p class="contact-form__alert">Oups! je pense que tu as oublié de me donner une adresse courriel pour te rejoindre &#128075;</p>
  <textarea name="message" class="contact-form__textarea">Bonjour Marc-Antoine, je m'appelle </textarea>
  <p>
    <button type="button" name="button" class="btn btn--secondary contact-form__send-btn">Envoyer</button>
  </p>
</form>
